.row{
  width: 100%;
}
h1{
  text-align: center;
}
.section1, .section2, .section3 {
    float: left;
    padding: 2px;
}
.content {
    background-color:	rgb(248,248,255);
    padding:  30px 25px 30px 25px ;
    border: 1px solid black;
}
#chicken{
  background-color: red;
  color: white;
}
#beef{
  background-color: green;
  color: red;
}
#sushi{
  background-color: yellow;
  color: black;
}
#chicken, #beef, #sushi {
    float: right;
    border: 1px solid black;
    margin-top: 0px;
    width: 120px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}


@media  (min-width: 992px){
  .section1, .section2, .section3 {
      display: inline-block;
      width: 33%;
  }
}

@media (min-width:768px) and (max-width: 991px){
  .section1, .section2, .section3 {
      display: inline-block;
  }
  .section1, .section2{
    width: 50%;
  }
   .section3{
     width: 100%;
   }
}

@media (max-width: 767px) {
  .section1, .section2, .section3 {
      display: inline-block;
      width: 100%;
  }
}
